<div class="my-3">
  <h2>Interval</h2>
  <br />
  {{ obsMsg }}
  <br /><br />
  <div class="row">
    <!-- User One -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">User One</div>
        <div class="card-body">
          <ul id="elContainer"></ul>
        </div>
      </div>
    </div>
    <!-- User Two -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">User One</div>
        <div class="card-body">
          <ul id="elContainer2"></ul>
        </div>
      </div>
    </div>
    <!-- User Three -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">User One</div>
        <div class="card-body">
          <ul id="elContainer3"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
