<div class="my-3">
  <h2>Of and From</h2>
  <br />
  <strong>Ex - 01(OF)</strong>
  <hr />
  <!-- Of Start -->
  <div class="row">
    <!-- Exmple : 01 -->
    <div class="col-md-6">
      <p class="bg-light py-3 px-3 border rounded">
        <strong>Data : </strong>of('Hiten','Kashyap','Brijesh')
      </p>
      <hr />
      <ul id="elContainer"></ul>
    </div>
    <!-- Exmple : 02 -->
    <div class="col-md-6">
      <p class="bg-light py-3 px-3 border rounded">
        <strong>Data : </strong>of(&#123;'Hiten','Kashyap','Brijesh'&#125;)
      </p>
      <hr />
      <ul>
        <li><strong>a :</strong> {{ obsMsg.a }}</li>
        <li><strong>b :</strong> {{ obsMsg.b }}</li>
        <li><strong>c :</strong> {{ obsMsg.c }}</li>
      </ul>
    </div>
  </div>
  <!-- Of End -->
  <br />
  <strong>Ex - 02(From)</strong>
  <hr />
  <!-- From Start -->
  <div class="row">
    <div class="col-md-4">
      <!-- Ex : 01 -->
      <strong>Array</strong>
      <hr />
      <p class="bg-light py-3 px-3 border rounded">
        <strong>Data : </strong>from(['Angular', 'NodeJs', 'MongoDb'])
      </p>
      <hr />
      <ul id="elContainer4"></ul>
    </div>

    <div class="col-md-4">
      <!-- Ex : 02 -->
      <strong>Promise</strong>
      <hr />
      <p class="bg-light py-3 px-3 border rounded">
        <strong>Data : </strong>Promise to Obserable
      </p>
      <hr />
      <ul id="elContainer5"></ul>
    </div>
    <div class="col-md-4">
      <!-- Ex : 03 -->
      <strong>String</strong>
      <hr />
      <p class="bg-light py-3 px-3 border rounded">
        <strong>Data : </strong>String to Obserable
      </p>
      <hr />
      <ul id="elContainer6"></ul>
    </div>
  </div>
  <!-- From End -->
</div>
